image:
  repository: docker.stackable.tech/stackable/trino-operator
  pullPolicy: IfNotPresent

serviceAccount:
  create: true

labels:
  stackable.tech/vendor: Stackable

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
