operatorImageRepository: docker.io/percona/percona-postgresql-operator
imagePullPolicy: IfNotPresent
image: "docker.io/percona/percona-postgresql-operator:2.3.1"

replicaCount: 1

resources:
  requests:
    cpu: 250m
    memory: 0.25Gi
  limits:
    cpu: 500m
    memory: 0.5Gi
